@{
  ViewBag.Title = "Index";
  Layout = "";//RESET LAYOUT
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    Index
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/forgot-password">Forgot password</a>
</body>
</html>
